<br><br>

<div class="signup-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 col-12 col-sm-12">
        <div class="row mar20">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="inner-section">

              <div *ngIf="status.signupStatus" id="successmessege" class="alert alert-success">
                <h4>User added successfully!</h4>

              </div>

              <div *ngIf="status.emailExist" id="errormessege" class="alert alert-danger">
                <h4>Email Already Exists!</h4>

              </div>

              <div *ngIf="error" class="alert alert-danger">
                <h4>Something went wrong! Retry or contact admin.</h4>
              </div>

              <form [formGroup]="signupform">
                <div class="mar20 inside-form">
                  <h2 class="font_white text-center"><i class="fas fa-user-plus"></i> &nbsp; SIGN UP</h2>
                  <br>
                  <div class="input-group">
                    <h2> <i class="fa fa-user"></i></h2>

                    <input type="text" id="signupname" class="form-control" formControlName="name" placeholder="Name">
                  </div>
                  <div *ngIf="signupform.get('name')!.touched && signupform.get('name')!.invalid">

                    <div *ngIf="signupform.get('name')!.errors!['required']" class=" alert-danger">*Name is
                      required</div>
                    <div *ngIf="signupform.get('name')!.errors!['minlength']" class=" alert-danger">Name must
                      be minimum 1
                      characters</div>
                    <div *ngIf="signupform.get('name')!.errors!['maxlength']" class=" alert-danger">Name must
                      be maximum of 50
                      characters</div>
                  </div>


                  <div class="input-group">
                    <h2> <i class="fas fa-envelope"></i></h2>
                    <input type="email" id="signupemail" class="form-control" formControlName="email" placeholder="Email">
                  </div>

                  <div *ngIf="signupform.get('email')!.touched && signupform.get('email')!.invalid">

                    <div *ngIf="signupform.get('email')!.errors!['required']" class=" alert-danger">*Email is
                      required</div>
                    <div *ngIf="signupform.get('email')!.errors!['minlength']" class=" alert-danger">Email must
                      be minimum 5
                      characters</div>
                    <div *ngIf="signupform.get('email')!.errors!['maxlength']" class=" alert-danger">Email must
                      be maximum of 250
                      characters</div>
                    <div *ngIf="signupform.get('email')!.errors!['pattern']" class="alert-danger">Email pattern is not
                      valid. (name@cognizant.com)</div>
                  </div>


                  <div class="input-group">

                    <h2><i class="fas fa-language"></i></h2>
                    <select class="form-control" id="signuplanguage" formControlName="language">
                      <option class="optionns" *ngFor="let language of alllanguages" value="{{language.id}}">
                        {{language.name}} </option>
                    </select>
                  </div>

                  <div *ngIf="signupform.get('language')!.touched && signupform.get('language')!.invalid">

                    <div *ngIf="signupform.get('language')!.errors!['required']" class=" alert-danger">*language is
                      required</div>

                  </div>



             <!--      <div class="input-group">
                    <h2><i class="fas fa-user-circle"></i></h2>
                    <select class="form-control" id="signuprole" formControlName="role">
                      <option class="optionns" *ngFor="let role of allroles" value="{{role.id}}">
                        {{role.name}} </option>
                    </select>
                  </div> -->

                  <div *ngIf="signupform.get('role')!.touched && signupform.get('role')!.invalid">

                    <div *ngIf="signupform.get('role')!.errors!['required']" class=" alert-danger">*role is
                      required</div>

                  </div>

                  <div class="input-group">
                    <h2><i class="fas fa-key"></i></h2>
                    <input type="password" id="signuppassword" class="form-control" name="text" formControlName="password" placeholder="Password">
                  </div>
                  <div *ngIf="signupform.get('password')!.touched && signupform.get('password')!.invalid">

                    <div *ngIf="signupform.get('password')!.errors!['required']" class=" alert-danger">*password is
                      required</div>
                    <div *ngIf="signupform.get('password')!.errors!['minlength']" class=" alert-danger">password must
                      be minimum 5
                      characters</div>
                    <div *ngIf="signupform.get('password')!.errors!['maxlength']" class=" alert-danger">password must
                      be maximum of 50
                      characters</div>
                  </div>



                  <div class="footer text-center">
                    <button class="btn btn-success btn-round btn-lg"  id="signupbutton" (click)="signup();">Sign Up</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>