<div class="login-body">
    <br><BR>
    <div class="container-fluid ">

            <div *ngIf="!status.authStatus" id="errorwrong" class="alert alert-danger">
                    <h4>Email or Password did not matched!</h4>
    
                  </div>

                  <div *ngIf="status.isblocked" id="errorwrong" class="alert alert-danger">
                        <h4>You have been blocked by ADMIN! please contact admin!</h4>
        
                      </div>

        <div class="d-flex justify-content-center h-100 mb-0">

        


            <div class="card">
                <div class="card-header">
                    <h3><i class="fas fa-sign-in-alt"></i>Log In</h3>

                </div>
                <div class="card-body">
                    <form [formGroup]="loginform">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>



                            <!--    <select class="form-control" #userName>
                                    <option *ngFor="let user of alluser" value="{{user.userName}}">
                                      {{user.userName}} </option>
                                  </select> -->



                            <input type="text" class="form-control" formControlName="email" id="loginemail" placeholder="Enter email">
                        </div>
                        <div *ngIf="loginform.get('email')!.touched && loginform.get('email')!.invalid">

                            <div *ngIf="loginform.get('email')!.errors!required" class=" alert-danger">Email is
                                required</div>
                            <div *ngIf="loginform.get('email')!.errors!minlength" class=" alert-danger">UserName must
                                be minimum 5
                                characters</div>

                                <div *ngIf="loginform.get('email')!.errors!pattern" class="alert-danger">Email pattern is not valid. (name@cognizant.com)</div>
                         
                            
                      
                        </div>
                        <br>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" formControlName="password" id="loginpassword" placeholder="password" >

                        </div>
                        <div *ngIf="loginform.get('password')!.touched && loginform.get('password')!.invalid">
                            <div *ngIf="loginform.get('password')!.errors!required" class=" alert-danger">password is
                                required</div>

                            <div *ngIf="loginform.get('password')!.errors!minlength" class=" alert-danger">Password must
                                be minimum 2
                                characters</div>
                            <div *ngIf="loginform.get('password')!.errors!maxlength" class=" alert-danger">Password must
                                be maximun 8
                                characters</div>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <button  id="loginbutton"  (click)="login();" class="btn float-right login_btn">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/signup">Signup Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>